<div class="container">
  <div class="columns">

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Station</label>
        <span class="icon is-large">
          <i class="fa-solid fas fa-2x fa-location-crosshairs"></i>
        </span>
        <p>{{station.name}}</p>
        <p>Latitude: {{latitude}}{{station.latitude}}</p>
        <p>Longitude: {{latitude}}{{station.latitude}}</p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <i class="icon">{{>icons/weather}}</i
        <label class="label">Weather</label>
        <p>{{latestReading.code}}</p>
        <p>{{codeConversion}}
       </p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Temperature</label>
        <i class="icon">{{>icons/temp}}</i>
        <p>{{latestReading.temp}} °C</p>
        <p>{{latestReading.fahrenheit}}°F</p>
        <p>Min:{{minTemp}}</p>
        <p>Max:{{maxTemp}}</p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Wind</label>
          <i class="icon">{{>icons/wind}}</i>
        </span>
        <p>{{latestReading.windSpeed}}</p>
        <p>{{beafourt}}{{latestReading.beaufortScale}} Bft</p>
        <p>{{windCompass}}{{latestReading.windCompass}}</p>
        <p>Feels like {{windChill}} {{latestReading.windChill}}</p>
        <p>Min:{{minWind}}</p>
        <p>Max:{{maxWind}}</p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Pressure</label>
        <i class="icon">{{>icons/pressure}}</i>
        <p>{{latestReading.pressure}}</p>
         <p>Min:{{minPressure}}</p>
          <p>Max:{{maxPressure}}</p>
      </box>
    </div>

  </div>
</div>