<div class="container">
  <div class="columns">

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Station</label>
        <span class="icon is-large">
          <i class="fa-solid fas fa-2x fa-location-crosshairs"></i>
        </span>
        <p>{{station.name}}</p>
        <p>Latitude: {{latitude}}{{station.latitude}}</p>
        <p>Longitude: {{latitude}}{{station.latitude}}</p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Weather</label>
        <span class="icon is-large">
          <i class="fa-solid fas fa-2x fa-cloud-sun"></i>
        </span>
        <p>{{latestReading.code}}{{code}}</p>
      </box>
    </div>

    <div class="column is-one-fifth">

      <box class="box">
        <label class="label">Temperature</label>
        <span class="icon is-large">
          <i class="fa-solid fas fa-2x fa-temperature-three-quarters"></i>
        </span>
        <p>{{latestReading.temp}} °C</p>
        <p>{{latestReading.fahrenheit}}°F</p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Wind</label>
        <span class="icon is-large">
          <i class="fa-solid fas fa-2x fa-wind"></i>
        </span>
        <p>{{latestReading.windSpeed}}</p>
        <p>{{beafourt}}{{latestReading.beaufortScale}} Bft</p>
        <p>{{windCompass}}{{latestReading.windCompass}}</p>
        <p>Feels like {{windChill}}{{latestReading.windChill}}</p>
      </box>
    </div>

    <div class="column is-one-fifth">
      <box class="box">
        <label class="label">Pressure</label>
        <span class="icon is-large">
          <i class="fa-solid fas fa-2x fa-water"></i>
        </span>
        <p>{{latestReading.pressure}}</p>
      </box>
    </div>

  </div>
</div>